body {
    background-color: rgb(206, 206, 206);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    display: inline;
    margin-right: 55px;
    margin-top: 10px;
    transition: 1s;
    font-size: 24px;
    font-family: JetBrains Mono;
}

li:hover {
    font-size: 25px;
    color: rgb(190, 0, 0);
    text-shadow: white 2px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 50px;
}

.hero {
    background-color: white;
    padding: 10px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.contatohero {
    display: block; 
    flex-wrap: wrap; 
    justify-content: end;
}

.texthero {
    text-align: center;
    color: black;
    font-family: JetBrains Mono;
    font-size: 34px;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

.box1,
.box2 {
    background-color: white;
    text-align: center;
    border: 2px black solid;
    padding: 12px;
    margin-bottom: 5px;
    border-radius: 20px;
    transition: 2s;
    margin-top: 10px;
    max-width: 600px;
    margin-left: 10px;
    margin-right: 10px;
    height: 350px;
}

.box1:hover,
.box2:hover,
.boxservicos1:hover,
.boxservicos2:hover,
.boxservicos3:hover,
.boxservicos4:hover,
.boxservicos5:hover {
    box-shadow: 1.5px 3px 8px 4px black;
}

.imgcontato {
    transition: 2s;
}

.imgcontato:hover {
    background-color: rgb(0, 0, 0);
    border-radius: 40px;
}

.confira {
    text-align: center;
    font-size: 18px;
    padding: 40px;
    margin-left: 300px;
    margin-right: 300px;
}

.aconfira {
    transition: 2s;
    font-size: 20px;
}

.aconfira:hover {
    font-size: 22px;
    color: rgb(190, 0, 0);
}

.confira2 {
    text-align: center;
}

.textcontato {
    text-align: center;
    background-color: white;
    padding: 14px;
    width: 400px;
    margin: auto;
    margin-bottom: 10px;
    border: solid black 2px;
    border-radius: 20px;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapimg {
    border-radius: 20px;
    width: 800px;
}

.boxservicos1 {
    background-color: white;
    text-align: center;
    border: 2px black solid;
    padding: 12px;
    margin-bottom: 5px;
    border-radius: 20px;
    transition: 2s;
    margin-top: 10px;
    max-width: 600px;
    margin-left: 10px;
    margin-right: 10px;
    height: 570px;
}

.boxservicos2 {
    background-color: white;
    text-align: center;
    border: 2px black solid;
    padding: 12px;
    margin-bottom: 5px;
    border-radius: 20px;
    transition: 2s;
    margin-top: 10px;
    max-width: 600px;
    margin-left: 10px;
    margin-right: 10px;
    height: 460px;
}

.boxservicos3 {
    background-color: white;
    text-align: center;
    border: 2px black solid;
    padding: 12px;
    margin-bottom: 5px;
    border-radius: 20px;
    transition: 2s;
    margin-top: 10px;
    max-width: 600px;
    margin-left: 10px;
    margin-right: 10px;
    height: 500px;
}

.boxservicos4 {
    background-color: white;
    text-align: center;
    border: 2px black solid;
    padding: 12px;
    margin-bottom: 5px;
    border-radius: 20px;
    transition: 2s;
    margin-top: 10px;
    max-width: 600px;
    margin-left: 10px;
    margin-right: 10px;
    height: 480px;
}

.boxservicos5 {
    background-color: white;
    text-align: center;
    border: 2px black solid;
    padding: 12px;
    margin-bottom: 5px;
    border-radius: 20px;
    transition: 2s;
    margin-top: 10px;
    max-width: 600px;
    margin-left: 10px;
    margin-right: 10px;
    height: 560px;
}

.boxerservicos {
    flex-direction: column;
}

.footer {
    background-color: rgb(179, 179, 179);
    color: black;
    font-family: JetBrains Mono;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    bottom:0%;
    width: 100%;
}

.textfooter {
    text-align: center;
    font-size: 22px;
}

.imgfooter {
    max-width: 500px;
    display: flex;
    margin: auto;
}

.numero {
    transition: 1s;
}

.numero:hover {
    font-size: 18px;
    color: rgb(190, 0, 0);
    transform: scale(1.5);
}

@media(max-width: 768px) {
    .container,
    .hero {
        flex-direction: column;
    }
    .box1,
    .box2 {
        flex-direction: column;
        display: block;
        height: 500px;
        height: 350px;
    }
    .footer,
    .hero {
        margin: auto;
    }
    .imgfooter {
        width: 200px; 
    }
    .confira,
    .confira2 {
        flex-direction: column;
    }
    nav, 
    li,
    ul {
        height: 200px;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 32px;
        padding-bottom: 5px;
    }
    .boxservicos1 {
        height: 800px;
    }
    .boxservicos2 {
        height: 630px;
    }
    .boxservicos3 {
        height: 720px;
    }
    .boxservicos4 {
        height: 700px;
    }
    .boxservicos5 {
        height: 790px;
    }
    .textcontato {
        width: 300px;
    }
    .textfooter {
        margin-left: 28px;
        margin-right: 28px;
    }
    .confira {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0; 
        transform: translateY(20px); 
    }
    to {
        opacity: 1; 
        transform: translateY(0); 
    }
}


* {
    opacity: 0; 
    animation: fade-in 1s ease-in-out forwards;
}